extends layout

block content
  h1 About #{title}
  p Welcome to #{title}, a website to help you handling your reading list.
  p This was created by&nbsp;
    a(href="https://github.com/SuperFola") SuperFola
    | . You can get the source code on&nbsp;
    a(href="https://github.com/SuperFola/MyReadingList") GitHub
    | .
  p Using no external libraries, the website is as light as it should be.