doctype html
html(lang='en')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color', content='#444444')
    meta(name='description', content='A website to help you manage your reading list')

    link(rel='apple-touch-icon', href='/images/favicon.png')
    link(rel='manifest', href='/pwa.webmanifest')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/pwa.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/tags.js')

  body
    include includes/head.jade
    div.container
      block content
