doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='manifest', href='/pwa.webmanifest')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/pwa.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/tags.js')
  body
    include includes/head.jade
    div.container
      block content
