html, body, .container {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar .active {
  background-color: #04AA6D;
}

.container {
  position: relative;
  padding: 0 25px 0 25px;
  height: auto;
  min-height: 100%;
}

a {
  color: #00B7FF;
}

.article {
  background-color: rgb(250, 248, 245);
  margin-bottom: 1em;
  padding: 0.5em;
}

.title {
  margin: 0;
}

.title span {
  font-size: small;
  color: #aaa;
  margin-left: 1em;
}

.delete_article {
  float: right;
  color: darkred !important;
}

.metadata {
  margin-bottom: 0.5em;
}

.metadata > span {
  padding-right: 1em;
}

.metadata .read {
  color: rgb(144, 181, 82);
}

.metadata .not_read {
  color: lightcoral;
}

.tags {
  float: right;
}

.tags_list {
  margin-bottom: 1em;
  position: relative;
}

.tag {
  border-radius: 10%;
  padding: 0.2em;
  margin: 5px;
}

.tag_bubble {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  color: white;
  margin-left: 0.4em;
  border-radius: 50%;
}

.tag_delete {
  background-color: crimson;
}

.tag_add {
  background-color: #04AA6D;
}

.tag > a {
  text-decoration: none;
  color: black;
}

.notes {
  position: relative;
}

.inner_notes {
  width: 90%;
}

.edit_note {
  position: absolute;
  right: 0.1em;
  bottom: 0;
}

.navigation {
  text-align: center;
}

table {
  width: 100%;
}

td {
  padding: 0.3em;
}

.red {
  color: red;
}

.big {
  font-size: large;
}

.pointer {
  cursor: pointer;
}

input, textarea, .tags-input {
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  height: 30px;
  padding: 0 11px;
  font-size: 14px;
}

.tags-input {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  color: #888;
  background: white;
  width: 80%;
}

.tags-input span {
  background: #bbb;
  margin-right: 7px;
  color: #fff;
  padding: 4px 7px;
  border-radius: 10px;
}

.tags-input span[data-selected] {
  background: #71ccd5;
}

.tags-input::after {
  content: "";
  background: #888;
  width: 1px;
  height: 19px;
  margin: -1px 0 0 -1px;
  display: none;
  -webkit-animation: blink 0.5s infinite alternate;
          animation: blink 0.5s infinite alternate;
}

.tags-input:focus {
  border-color: #71ccd5;
  outline: none;
}

.tags-input:focus[data-cursor]::after {
  display: block;
}

button#add {
  position: fixed;
  right: 1em;
  bottom: 3em;
  border: none;
  border-radius: 50%;
  background-color: rgb(50, 147, 243);
  width: 2em;
  height: 2em;
  font-size: large;
  color: antiquewhite;
  justify-content: center;
}

footer {
  position: absolute;
  left: 0;
  bottom: -5em;
  width: 100%;
  text-align: center;
  background-color: antiquewhite;
}